PORT=3000
PG_URL=postgresql://user:password@host:5432/database
SESSION_SECRET="merci d indiquer une phrase unique à ce projet"

DB_HOST=host
DB_USER=user
DB_PASSWORD=password
DB_NAME=database
DB_PORT=5432

POSTGRES_DB=database
POSTGRES_USER=user
POSTGRES_PASSWORD=password